{% extends "base.html.twig" %}

{% block body %}
    <div id="main-wrapper">
    <!-- Page Preloader -->
    <div id="preloader">
        <div id="status">
            <div class="status-mes"></div>
        </div>
    </div>
MA PAGE ADMIN

{% endblock %}
